input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);

    padding: .75rem 1rem;

    font: var(--text);
}

input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicador {
        display: none;
        position: absolute;
        background: url(../../assets/icones/calendar.svg);
    }
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block;
    margin-bottom: .25rem;
}

input:focus, select:focus, textarea:focus {
    border: .125rem solid var(--stroke-highlight);
    outline: .25rem solid var(--surface-secondary);
    outline-offset: .1px;
}

select {
    background: url(../../assets/icones/arrow-down-01.svg) no-repeat calc(100% - 1rem);
    
}

