* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    overflow: hidden;
}

/* Variáveis */

:root {
    --text: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 0.875rem/1.4 var(--font-family);

/* Brand */

    --brand-light: #F67841;
    --brand-mid: #F3541C;
    --brand-dark: #E43A12;

/* text */

    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;

/* Surface */

    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --surface-disabled: #E7E5E4;

/* Stroke */

    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;

/* semantic */

    --semantic-error: #DC2626;

/* Supporting */

    --orange: #F9A474;
    --yellow: #FEDF6F;
    --green: #C7D78D;
    --blue: #B8CEDC;
    --pink: #F682A5;
    --violet: #C3B2E7 ;

/* tipografia */

    --font-family: "Poppins", "sans-serif"
    --h1: 700 32px/120% var(--font-family);
    --h2: 700 24px/120% var(--font-family);
    --h3: 700 20px/120% var(--font-family);
    --h4: 700 16px/120% var(--font-family);
}